<%- include("../partials/head") %>

    <main>
        <h1>Error <%= locals.status %>
        </h1>
        <p>
            <%= locals.error %>
        </p>
        <a href="/" class="btn btn-primary">Home</a>
        <a href="/log-in" class="btn btn-primary">Log In</a>
    </main>

    <%- include("../partials/footer"); %>