<%- include("../partials/head") %>
    <header>
        <nav>
            <ul>
                <li><a href="/sign-up">Sign Up</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Mermbers Only</h1>
    </main>
    <%- include("../partials/footer"); %>