<header>
    <!-- <nav>
        <ul>
            <li>
                <h1>Mermbers Only</h1>
            </li>
            <li><a href="/sign-up">Sign Up</a></li>
            <% if (!locals.currentUser) { %>
                <li><a href="/log-in">Log In</a></li>
                <% } %>

                    <% if (locals.currentUser) { %>
                        <li>
                            <form action="/log-out" method="POST" style="display: inline;">
                                <button class="logoutBtn" type="submit">Logout</button>
                            </form>
                        </li>
                        <% } %>
                            <li><a href="/profile" class="btn btn-secondary">Profile</a></li>
        </ul>
    </nav> -->

    <nav class="navProfile">
        <h1>
            <a class="link" href="/">Members Only</a>
        </h1>


        <div class="container-mini-profile">
            <% if (locals.currentUser) { %>
                <a href="/create-message" class="btn btn-primary">Create Message</a>

                <div class=" container-badges">
                    <div class="<%= locals.currentUser.member ? " badge badge-member" : "badge badge-member-inactive" %>
                        ">Member
                    </div>
                    <div class="<%= locals.currentUser.admin ? " badge badge-admin" : "badge badge-admin-inactive" %>
                        ">Admin
                    </div>

                </div>
                <a href="/profile" class="btn btn-secondary">

                    <%= locals.currentUser.username %>
                </a>


                <form action="/log-out" method="POST" style="display: inline;">
                    <button class="btn btn-ghost" type="submit">Log out</button>
                </form>

                <% }else { %>
                    <a href="/log-in" class="btn btn-primary">Log In</a>
                    <a href="/sign-up" class="btn btn-primary">Sign Up</a>
                    <% } %>
        </div>

    </nav>
</header>